.container {
    display: flex;
    text-align: center;
}


.item {

    list-style: none;
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

.item a {

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

}

.item a:hover {

    color: white
}

.item:hover {

    background-color: blue;

}